{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<div class="row">
<h3>Кто есть кто</h3>

</div>  
<div class="row">
  <h3>Команда</h3>

      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img class="img-circle" src="https://dummyimage.com/160x160/000/fff.png" alt="...">
          <div class="caption">
            <h3>Founder One <small class="pull-right"><a class="btn btn-social-icon btn-twitter">&nbsp;<span class="fa fa-twitter">&nbsp;</span>&nbsp;<a class="btn btn-social-icon btn-facebook">&nbsp;<span class="fa fa-facebook">&nbsp;</span>&nbsp;</a><a class="btn btn-social-icon btn-vk"><span class="fa fa-vk">&nbsp;</span></a></small></h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img class="img-circle" src="https://dummyimage.com/140x140/000/fff.png" alt="...">
          <div class="caption">
            <h3>Founder Two <small class="pull-right"><a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span><a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a><a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></small></h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
</div>
<div class="row">
  <h3>Авторы<h3>
            <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img class="img-circle" src="https://dummyimage.com/140x140/000/fff.png" alt="...">
          <div class="caption">
            <h3>Author One <small class="pull-right"><a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span><a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a><a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></small></h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img class="img-circle" src="https://dummyimage.com/140x140/000/fff.png" alt="...">
          <div class="caption">
            <h3>Author Two <small class="pull-right"><a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span><a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a><a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></small></h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

</div>  
<div class="row">
  <h3>Support<h3>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img class="img-circle" src="https://dummyimage.com/140x140/000/fff.png" alt="...">
          <div class="caption">
            <h3>Photo/Video <small class="pull-right"><a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span><a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a><a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></small></h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img class="img-circle" src="https://dummyimage.com/140x140/000/fff.png" alt="...">
          <div class="caption">
            <h3>QA Service <small class="pull-right"><a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span><a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a><a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a></small></h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
</div>  

</div>
{% endblock content %}
