{% extends "layout.jinja2" %}


{% block content %}
  
  <h2>{{action}} недели для курса <b>{{parent.name}}</b></h2>
  <div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            a form with:
            elemtype
            weektype
            descr
            [save. now you can add days]
        </div>
      </div>
    </div>
  </div>



{% endblock content %}
