{% extends "layout.jinja2" %}

{% block content %}
  <div class="jumbotron" > <!-- style="background-size: cover; background-image: url({{request.static_url('training:static/bst.jpg')}})"> -->
    ох, ну и каша
    
    если требуется совершить рывок, открыть новую категорию, то вам сюда. мы не научим вас скалолазной технике, мы поможем вам стать сильнее.

    когда техники недостаточно, надо прокачать силу. силу пальцев, рук, спины, например. будет тяжело, но результат того стоит.

    хочется стать сильнее, но не знаешь как? выбирай любую программу и начинай
    
    чтобы двигаться вперед и не топтаться на месте

    нужны сильные пальцы, сильные руки

    почему у меня не получается? потому что ты не тренируешься, а просто лезешь дорожки. для прогресса этого мало.
    нужны дополнительные упражнения для укрепления пальцев, рук и тела. они собраны в несколько программ

    больше не надо думать, что делать. просто бери и делай, а мы скажем, как, что и когда.
    надо сильные пальцы, есть три программы разной сложности.
    надо нависания и длинные перехваты? есть программа для боулдеринга.
    длинные дорожки, мультипитчи - программа выносливости. 
    если интересно посмотреть на прогресс - в настройках он есть.

    в каждой программе разные упражнения на турнике, на фингерборде, на кампусе, с гантелями, штангой,
    с дополнительным весом, на скалодроме, итд

    можно выполнять упражнения в удобное время в удобном месте. необязательно каждый раз идти на скалодром,
    некоторые задания можно делать дома. 

    Аттракцион неслыханной щедрости, Первые две недели бесплатно!

    <h1>Будь сильнее!</h1>
    <h2>Пошаговые программы тренировок от <span id="companyname">makemestrong</span> </h2>
    <p></p>
    <p></p>
    
    <p>
      <a class="btn btn-lg btn-default" style="text-decoration:none;" href="{{request.route_url('showall', what='courses')}}" role="button">Записаться &raquo;</a>
    </p>
  </div>

{% endblock content %}
